/* Police*/

/* Lato*/
@font-face {
    font-family: "Lato";
    src: local("Lato-Thin");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-ThinItalic");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Light");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-LightItalic");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Regular");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Italic");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Bold");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-BoldItalic");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Black");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-BlackItalic");
    font-weight: 900;
    font-style: italic;
}

  /*Raleway*/
  @font-face {
    font-family: "Raleway";
    src: local("Raleway-Thin");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-ThinItalic");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-Light");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-LightItalic");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-Regular");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-Italic");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-Bold");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-BoldItalic");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-Black");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-BlackItalic");
    font-weight: 900;
    font-style: italic;
}