* {
    box-sizing: border-box;
  }

body {
    background-color: #e3e3e3;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

.cv__contenair {
    width: 1160px;
    margin: 0 auto; /* centré horizontalement */
    background-color: #fff; /* tu peux voir le bloc */
}

header {
    background-color : #17abb3 ;
    width: 1160px;
}

main {
    display: flex;
    flex-direction: row;
    background-color : #ffffff ;
    width: 1160px;
}