html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;

}

body {
    max-width: 1160px;
    margin: 0px;
}

header {
    background-color : #17abb3 ;
    font-family: 'Raleway', sans-serif;
    width: 1160px;
}

main {
    display: flex;
    flex-direction: row;

    background-color : #ffffff ;
    font-family: 'Raleway', sans-serif;
    width: 1160px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color : #17abb3 ;
    font-family: 'Raleway', sans-serif;
    width: 1160px;
}