/*Partie MAIN*/

.title__h3 {
    color: #17abb3 ;
    font-family: 'Lato', sans-serif ;
    font-weight: 500;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 10px;
}

blockquote {
    margin: 0px;
}

.img__stars {
    width: 1rem;
    height: 1rem;
    color: #17abb3;
}
/* Partie Colonne de gauche*/
.colonne__skill {
    display: flex;
    flex-direction: column;

    background-color: #f5f5f5;
    width: 60%;
}

.skill__box {
    margin: 15px 30px;
}

.skill__box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom:10px ;
    padding-top: 8px;
}

.container-text {
    margin: 0px;
    font-weight: 600;
}

.container-text2 {
    margin: 0px;
}

.container-stars {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.skill__box-list {
    list-style: none;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .skill__box-list .list__item {
    color: #333333;
    position: relative;
  }
  
  .skill__box-list .list__item::before {
    content: "■"; 
    color: #17abb3;
    font-size: 1.2em; 
    position: absolute;
    left: -1em; 
    top: -0.3em; 
  }

/* Partie Centrale*/
.partie__central {
    display: flex;
    flex-direction: column;

    padding: 30px;
}

.central__article {

}

.article__text {
 text-indent:1rem ;
 margin: 0px;
}

.central__çontainer {

}

.çontainer__child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.çontainer__child-text {
    margin: 0px;
}

.çontainer__child-date {
    color: #17abb3;
}